<%- include ('partials/header.ejs') %>
<body>
  <header text-align="justify">
    <%- include ('partials/navbar.ejs') %>
    <h1>Bem-vindo à Rede Social de Perguntas e Respostas</h1>
  </header>
  <div class="container">
    <div class="card" id="formulario-pergunta">
      <div class="card-header">
        <h1>Realizar Pergunta</h1>
        <h2>
          Faça sua pergunta ou veja o
          <a href="http://localhost:8080/"> que os outros estão perguntando</a>
        </h2>
      </div>
      <div class="card-body">
        <form action="/perguntas" method="post">
          <br />
          <label for="pergunta">Sua Pergunta:</label>
          <input
            type="text"
            id="pergunta"
            class="form-control"
            placeholder="Titulo"
            name="pergunta"
            required
          />
          <br />
          <label for="pergunta">Descrição:</label>
          <textarea
            class="form-control"
            name="descricao"
            id="descricao"
            cols="30"
            rows="10"
            placeholder="Descreva sua pergunta"
          >
          </textarea>
          <br />
          <input
            type="button"
            value="Enviar Pergunta"
            class="btn btn-success"
          />
        </form>
      </div>
    </div>
  </div>
</body>
<%- include ('partials/header.ejs') %>
